/* breakpoints */
$tablet: "screen and (min-width: 590px)";
$tablet-wide: "screen and (min-width: 690px)";
$desktop: "screen and (min-width: 1064px)";

/* padding */
$content-padding: 35px;

/* widths */
$full: 1020px;