/* text colors */
$green: #8CC250;
$teal: #219FAB;
$pink: #F54C75;
$gray: #9B9B9B;
$light-green: #f0f8cf;
$primary-color: #333132;
$secondary-color: #787878;
$tertiary-color: #646464;
$muted-color: #848b8c;
$girl: $pink;
$boy: $teal;

/* link colors */
$link-color: $green;
$link-color-hover: #444;
$link-color-active: #222;

/* border/underline colors */
$border-light: #eaeff0;
$border-dark: #979797;