a, a:visited {
	color: $link-color;
	text-decoration: none;
}

a:hover {
	color: $link-color-hover;
}

.current-menu-item a,
.current-menu-parent a {
	color: $link-color-active !important;
	font-weight: 700;
}